/* */
.settings {
    background-color: #f6f6f6;
    width: 100%;
    height: 135vh;

    .settingsTitle {
        width: 100%;
        height: 120rpx;
        padding-left: 45rpx;
        line-height: 120rpx;
        display: flex;

        .settingsTitleName {
            font-weight: 600;
            font-size: 45rpx;
            margin-left: 20rpx;
        }

        image {
            width: 65rpx;
            height: 65rpx;
            margin-left: 20rpx;
            margin-top: auto;
            margin-bottom: auto;
        }
    }

    .optionList {
        width: 100%;
        background-color: #f6f6f6;
        height: 100vh;

        .option image {
            width: 50rpx;
            height: 50rpx;
            opacity: 0.35;
        }


        .option,
        .optionDisabled {
            box-sizing: border-box;
            width: 100%;
            height: 100rpx;
            line-height: 100rpx;
            padding: 0 40rpx;
            background-color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: space-around;
            font-weight: 600;

            .optionName {
                width: 50%;
                margin-left: 30rpx;
                display: flex;
                // border: solid 1px red;
            }

            .optionValue {
                margin-right: 30rpx;
                width: 50%;
                text-align: right;
                // border: solid 1px red;

                button {
                    width: 200rpx !important;
                    height: 80rpx !important;
                    font-size: 28rpx;
                    line-height: 80rpx;
                    text-indent: 20rpx;
                    letter-spacing: 20rpx;
                    text-align: center;
                    float: right;
                }
            }

            .optionDisabledImg {
                margin-top: auto;
                margin-bottom: auto;
                margin-left: 10rpx;
                line-height: 100rpx;
                width: 35rpx !important;
                height: 35rpx !important;
                opacity: 0.35 !important;
            }

            .optionTapped {
                background-color: #e6e6e6 !important;
            }

            .optionName,
            .optionValue {
                color: #515151;
                font-weight: 600;
                font-size: 32rpx;
            }
        }
    }


}



.split {
    width: 100%;
    height: 34rpx;
    background-color: #f6f6f6;
}