.float {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    top: 0;
    left: 0;
}

.floatContent {
    padding: 20rpx 0;
    width: 80%;
    height: 300rpx;
    background: #fff;
    margin: 40% auto;
    border-radius: 20rpx;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.floatTitle {
    font-weight: 600;
    font-size: 40rpx;
}